<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>8.0</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - ftp:/us0.minyo.us/public_html</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-11T04:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								k2pUvi3MJhYt
								7yM6dH3s7Q==
								</data>
								<key>Size</key>
								<integer>6397</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - ftp:/us0.minyo.us/public_html</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-11T04:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/mailer.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Hc5jm5TeVqXb
								m/xTMdU0uA==
								</data>
								<key>Size</key>
								<integer>8956</integer>
							</dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								MnoBQEug+C/i
								MUbisZdW/A==
								</data>
								<key>Size</key>
								<integer>7635</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>contact-form</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - ftp:/us0.minyo.us/public_html</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-11T04:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								p/3bnEPjEMlV
								Tqz6GW66Pg==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								XJRovQys0YPt
								MesxR9KiIg==
								</data>
								<key>Size</key>
								<integer>252</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - ftp:/us0.minyo.us/public_html</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-11T04:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/0a1hJaS6DeQ
								tOXvwd14ng==
								</data>
								<key>Size</key>
								<integer>1707</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:tesla - ftp:/us0.minyo.us/public_html</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-01-11T04:19:13Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X1tE1oizp/2Z
								AVwcfn46Vw==
								</data>
								<key>Size</key>
								<integer>69343</integer>
							</dict>
							<key>fonts/FontAwesome.otf</key>
							<dict>
								<key>Digest</key>
								<data>
								DScXzV2FPlx2
								XKAy39QaTQ==
								</data>
								<key>Size</key>
								<integer>134808</integer>
							</dict>
							<key>fonts/arvo-v10-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								yJhoLjm+0oKE
								jyJcHHJbVQ==
								</data>
								<key>Size</key>
								<integer>22222</integer>
							</dict>
							<key>fonts/arvo-v10-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								wvFqdpfACOGL
								PtYP9xdXAA==
								</data>
								<key>Size</key>
								<integer>72576</integer>
							</dict>
							<key>fonts/arvo-v10-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								yxHQXPp1rEgE
								FBz7wgeTRg==
								</data>
								<key>Size</key>
								<integer>37300</integer>
							</dict>
							<key>fonts/arvo-v10-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								2XLYvld5YOVZ
								MQ7GfNfK/w==
								</data>
								<key>Size</key>
								<integer>25368</integer>
							</dict>
							<key>fonts/arvo-v10-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								M2py0gv0ss5R
								Ed/T6hm90Q==
								</data>
								<key>Size</key>
								<integer>21600</integer>
							</dict>
							<key>fonts/fontawesome-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Z09Q0oeoxI3B
								m6QE0g/nEw==
								</data>
								<key>Size</key>
								<integer>165742</integer>
							</dict>
							<key>fonts/fontawesome-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								kS7GbXVy/4IX
								STGTlkcL3g==
								</data>
								<key>Size</key>
								<integer>444379</integer>
							</dict>
							<key>fonts/fontawesome-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								sGhx8oH+5rJB
								1gWCrpNpuQ==
								</data>
								<key>Size</key>
								<integer>165548</integer>
							</dict>
							<key>fonts/fontawesome-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								/uZucSqKCO71
								gFpGiSkyrQ==
								</data>
								<key>Size</key>
								<integer>98024</integer>
							</dict>
							<key>fonts/fontawesome-webfont.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								r3rlBanu1QP4
								uOaYIDaHPg==
								</data>
								<key>Size</key>
								<integer>77160</integer>
							</dict>
							<key>fonts/noto-serif-v6-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								16+BtGOKmDEF
								IrYHLle1iw==
								</data>
								<key>Size</key>
								<integer>24332</integer>
							</dict>
							<key>fonts/noto-serif-v6-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								12cniuZK07vj
								dDQpeUOBIg==
								</data>
								<key>Size</key>
								<integer>91621</integer>
							</dict>
							<key>fonts/noto-serif-v6-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								5yeL32ZiaUv1
								99usWTLOtA==
								</data>
								<key>Size</key>
								<integer>42568</integer>
							</dict>
							<key>fonts/noto-serif-v6-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								GuSw4xSof9J6
								8lLfU0Mzxg==
								</data>
								<key>Size</key>
								<integer>27004</integer>
							</dict>
							<key>fonts/noto-serif-v6-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								9/uZIqsAE/Du
								LxHKVO1riA==
								</data>
								<key>Size</key>
								<integer>23352</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nc5/AXFTQIYb
								21cxji8/3A==
								</data>
								<key>Size</key>
								<integer>15050</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								eqtME2cSgskG
								aetqEDV+QQ==
								</data>
								<key>Size</key>
								<integer>56266</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								wEW3PYaANob0
								zRzD+c66WQ==
								</data>
								<key>Size</key>
								<integer>26488</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								vy0Hg1FbfXXD
								W95p4BsxNQ==
								</data>
								<key>Size</key>
								<integer>17704</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								z/tobX0vRoLf
								g0K9TSduCQ==
								</data>
								<key>Size</key>
								<integer>14048</integer>
							</dict>
							<key>images/banners/banner_1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dy5lVLc8sDe+
								c+VlWSZZyw==
								</data>
								<key>Size</key>
								<integer>177090</integer>
							</dict>
							<key>images/banners/banner_10.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								67koleZ4r+gj
								fmsLHx/Ppw==
								</data>
								<key>Size</key>
								<integer>497840</integer>
							</dict>
							<key>images/banners/banner_10_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AAcvRrwh9htr
								VNFzRmVWhQ==
								</data>
								<key>Size</key>
								<integer>197749</integer>
							</dict>
							<key>images/banners/banner_10_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XFsckHGbQBsG
								iHM6xVQ+RQ==
								</data>
								<key>Size</key>
								<integer>55251</integer>
							</dict>
							<key>images/banners/banner_11.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ytCJ0YyeoHdt
								Zkb9e+MfYg==
								</data>
								<key>Size</key>
								<integer>201067</integer>
							</dict>
							<key>images/banners/banner_11_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								etFFZ0l8aMw1
								kn/IpOikQQ==
								</data>
								<key>Size</key>
								<integer>87908</integer>
							</dict>
							<key>images/banners/banner_11_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nmXtdUL95X9Y
								woWacWGYyg==
								</data>
								<key>Size</key>
								<integer>33976</integer>
							</dict>
							<key>images/banners/banner_12.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/vjuMXCpYRf3
								RYH5QjmN8Q==
								</data>
								<key>Size</key>
								<integer>356600</integer>
							</dict>
							<key>images/banners/banner_12_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QgJeDoxIZp79
								Le4pE3zhYg==
								</data>
								<key>Size</key>
								<integer>132923</integer>
							</dict>
							<key>images/banners/banner_12_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4mDVCxhNnUiY
								tSt919BSRg==
								</data>
								<key>Size</key>
								<integer>39100</integer>
							</dict>
							<key>images/banners/banner_13.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aS9UtZB/jkPB
								4vHgnKCHZg==
								</data>
								<key>Size</key>
								<integer>356271</integer>
							</dict>
							<key>images/banners/banner_13_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+jxhcSuyHhil
								lC3PuUVQeA==
								</data>
								<key>Size</key>
								<integer>103706</integer>
							</dict>
							<key>images/banners/banner_13_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8If4lLMwu60I
								t+NbHIniAg==
								</data>
								<key>Size</key>
								<integer>29737</integer>
							</dict>
							<key>images/banners/banner_14.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IQ2hyh5zdGtD
								DSCv6TO1IQ==
								</data>
								<key>Size</key>
								<integer>481417</integer>
							</dict>
							<key>images/banners/banner_14_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OT/wjzBrRq9f
								VDDuuS42uA==
								</data>
								<key>Size</key>
								<integer>78925</integer>
							</dict>
							<key>images/banners/banner_14_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kpM73SMa/50P
								X11eYo3Btw==
								</data>
								<key>Size</key>
								<integer>26411</integer>
							</dict>
							<key>images/banners/banner_15.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								a1uLWV70KFQF
								PRxnwBAr2Q==
								</data>
								<key>Size</key>
								<integer>491222</integer>
							</dict>
							<key>images/banners/banner_15_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cd+xuLeuUdGY
								vSnv4/bUTg==
								</data>
								<key>Size</key>
								<integer>137396</integer>
							</dict>
							<key>images/banners/banner_15_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CVgX+WXKh86D
								eisCmBa9Rw==
								</data>
								<key>Size</key>
								<integer>45971</integer>
							</dict>
							<key>images/banners/banner_16.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hQmvOUOsBQnT
								6C4W8mp40w==
								</data>
								<key>Size</key>
								<integer>646033</integer>
							</dict>
							<key>images/banners/banner_16_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BPU+4QkiinG7
								n8aYvXPWAw==
								</data>
								<key>Size</key>
								<integer>252640</integer>
							</dict>
							<key>images/banners/banner_16_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lFmZptkdYj2W
								lKQwlqqQsQ==
								</data>
								<key>Size</key>
								<integer>56466</integer>
							</dict>
							<key>images/banners/banner_17.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mJ8gsnqhKrro
								+MQlitZ/Ug==
								</data>
								<key>Size</key>
								<integer>200645</integer>
							</dict>
							<key>images/banners/banner_17_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oe3Ucf+ZvrUb
								8BY7fSdYow==
								</data>
								<key>Size</key>
								<integer>71625</integer>
							</dict>
							<key>images/banners/banner_17_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rSFsqzJUq4Po
								v2r51MzvZw==
								</data>
								<key>Size</key>
								<integer>21226</integer>
							</dict>
							<key>images/banners/banner_18.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Wlmh2bxolcSq
								I0VAITVKbQ==
								</data>
								<key>Size</key>
								<integer>660087</integer>
							</dict>
							<key>images/banners/banner_18_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NaARQT3Ui1SP
								sWFkYi3TIA==
								</data>
								<key>Size</key>
								<integer>272753</integer>
							</dict>
							<key>images/banners/banner_18_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Uq9c0UZft/p5
								XDyxmIFPmw==
								</data>
								<key>Size</key>
								<integer>56028</integer>
							</dict>
							<key>images/banners/banner_19.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ReZv5Xr+Uumt
								lSjPhN0IaA==
								</data>
								<key>Size</key>
								<integer>533269</integer>
							</dict>
							<key>images/banners/banner_19_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+EXGcEzZs1OB
								RZkmggd+6Q==
								</data>
								<key>Size</key>
								<integer>164025</integer>
							</dict>
							<key>images/banners/banner_19_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Y3508BkgOT4A
								cZ7SP+T9uQ==
								</data>
								<key>Size</key>
								<integer>44535</integer>
							</dict>
							<key>images/banners/banner_1_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								41rEYz57jbEP
								HbgN1ycl0A==
								</data>
								<key>Size</key>
								<integer>64428</integer>
							</dict>
							<key>images/banners/banner_1_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JO2Jnov/zRxl
								ym9rq5J+RA==
								</data>
								<key>Size</key>
								<integer>29346</integer>
							</dict>
							<key>images/banners/banner_2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gYk3p88WFIuX
								eCNUIdk0yA==
								</data>
								<key>Size</key>
								<integer>1039554</integer>
							</dict>
							<key>images/banners/banner_20.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PlDpNlW6kNz7
								K59kOO0dVA==
								</data>
								<key>Size</key>
								<integer>506605</integer>
							</dict>
							<key>images/banners/banner_20_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m8c+FHvDBqV8
								xz4XGOuD2w==
								</data>
								<key>Size</key>
								<integer>79754</integer>
							</dict>
							<key>images/banners/banner_20_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0WfTtmqQ8MNo
								y+j8Tp28pQ==
								</data>
								<key>Size</key>
								<integer>33357</integer>
							</dict>
							<key>images/banners/banner_2_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4Eih2aVyKAA7
								r477IDZ58A==
								</data>
								<key>Size</key>
								<integer>229401</integer>
							</dict>
							<key>images/banners/banner_2_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								phI+yV3MJY/L
								dK80UbaZfg==
								</data>
								<key>Size</key>
								<integer>61761</integer>
							</dict>
							<key>images/banners/banner_3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								I0G6iKSIUpTe
								jKg4xshBAA==
								</data>
								<key>Size</key>
								<integer>306888</integer>
							</dict>
							<key>images/banners/banner_3_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AhAhZ9glkZru
								jW5aQxxONQ==
								</data>
								<key>Size</key>
								<integer>70466</integer>
							</dict>
							<key>images/banners/banner_3_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n2SrDLd6ZAej
								1F+6PmTU1w==
								</data>
								<key>Size</key>
								<integer>20584</integer>
							</dict>
							<key>images/banners/banner_4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rglauj2i56DL
								SVfpIxL47A==
								</data>
								<key>Size</key>
								<integer>164915</integer>
							</dict>
							<key>images/banners/banner_4_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SQsUxQuA5kfV
								DESM2nFenw==
								</data>
								<key>Size</key>
								<integer>65688</integer>
							</dict>
							<key>images/banners/banner_4_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OVtmqDWiGWc7
								51LcbH+8+A==
								</data>
								<key>Size</key>
								<integer>21838</integer>
							</dict>
							<key>images/banners/banner_5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iXSNuaYbYqio
								KjmGJZ2+mQ==
								</data>
								<key>Size</key>
								<integer>232497</integer>
							</dict>
							<key>images/banners/banner_5_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lnOzJ3GTbxJp
								uuhDMykJ9Q==
								</data>
								<key>Size</key>
								<integer>74501</integer>
							</dict>
							<key>images/banners/banner_5_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GZzPqKA9ki0z
								FOQRnERbvQ==
								</data>
								<key>Size</key>
								<integer>27165</integer>
							</dict>
							<key>images/banners/banner_6.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hwpfZPLsSvnJ
								7XZZEsP8rA==
								</data>
								<key>Size</key>
								<integer>414534</integer>
							</dict>
							<key>images/banners/banner_6_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+6Qux6l498C9
								mGFTg4XYxA==
								</data>
								<key>Size</key>
								<integer>116411</integer>
							</dict>
							<key>images/banners/banner_6_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								akG494aGA2oT
								kfzv/f+Wew==
								</data>
								<key>Size</key>
								<integer>36014</integer>
							</dict>
							<key>images/banners/banner_7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CY5JlQ924lBd
								SL3EAcjZWA==
								</data>
								<key>Size</key>
								<integer>542369</integer>
							</dict>
							<key>images/banners/banner_7_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cWjldaT1QaLu
								1Se+uPa7rw==
								</data>
								<key>Size</key>
								<integer>161598</integer>
							</dict>
							<key>images/banners/banner_7_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ulukPFpjSZLY
								dUW46tbYuQ==
								</data>
								<key>Size</key>
								<integer>38355</integer>
							</dict>
							<key>images/banners/banner_8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q2W91az1kD2j
								fpST7XNsCQ==
								</data>
								<key>Size</key>
								<integer>303457</integer>
							</dict>
							<key>images/banners/banner_8_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eISs1xcVz4wQ
								PTrNC2cm4A==
								</data>
								<key>Size</key>
								<integer>124335</integer>
							</dict>
							<key>images/banners/banner_8_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ak6Gyy8Srf/w
								Gub8fBWewg==
								</data>
								<key>Size</key>
								<integer>39370</integer>
							</dict>
							<key>images/banners/banner_9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZpuZag10PRZL
								OhwBAc4v6g==
								</data>
								<key>Size</key>
								<integer>229340</integer>
							</dict>
							<key>images/banners/banner_9_medium.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								GSfy9EtvJpl1
								aVgRCw+EaQ==
								</data>
								<key>Size</key>
								<integer>70377</integer>
							</dict>
							<key>images/banners/banner_9_small.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								G3zRmLBfQCp/
								ut/mUO1NZg==
								</data>
								<key>Size</key>
								<integer>26965</integer>
							</dict>
							<key>images/banners/loader.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								hv+2OS435O8C
								Gv7bqy6ROA==
								</data>
								<key>Size</key>
								<integer>651</integer>
							</dict>
							<key>images/banners/loader11.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ucolAOswccGI
								o7qsvZTWbg==
								</data>
								<key>Size</key>
								<integer>7269</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
							<key>js/elixir.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ydnTJB9aup8s
								vPPUINDnMQ==
								</data>
								<key>Size</key>
								<integer>31012</integer>
							</dict>
							<key>js/fitvids.js</key>
							<dict>
								<key>Digest</key>
								<data>
								NkDSZmDvQvej
								NS/TPeugUg==
								</data>
								<key>Size</key>
								<integer>2155</integer>
							</dict>
							<key>js/jquery.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								NXam5zydzNu8
								Siz4/1RK1w==
								</data>
								<key>Size</key>
								<integer>93636</integer>
							</dict>
							<key>js/sidebar/sidebar_hidden.js</key>
							<dict>
								<key>Digest</key>
								<data>
								cp241CU0eGik
								MJDtjaq8Cg==
								</data>
								<key>Size</key>
								<integer>392</integer>
							</dict>
							<key>js/sidebar/sidebar_left.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Eo2tQgSjGYU2
								vCJVviX5HA==
								</data>
								<key>Size</key>
								<integer>383</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:tesla</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/tesla</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGLi9YJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoKkHCBESGh0kJytV
				JG51bGzTCQoLDA4QV05TLmtleXNaTlMub2JqZWN0c1Yk
				Y2xhc3OhDYACoQ+AA4AIVG5vZGXUExQVCxYXGBlUTmFt
				ZVVpdGVtc1hjaGlsZHJlboAAgAaABIAH0goLGxyggAXS
				Hh8gIVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJs
				ZUFycmF5oyAiI1dOU0FycmF5WE5TT2JqZWN00goLJRyg
				gAXSHh8oKVxSV1NpdGVGb2xkZXKiKiNcUldTaXRlRm9s
				ZGVy0h4fLC1cTlNEaWN0aW9uYXJ5oiwjXxAPTlNLZXll
				ZEFyY2hpdmVy0TAxVHJvb3SAAQAIABEAGgAjAC0AMgA3
				AEEARwBOAFYAYQBoAGoAbABuAHAAcgB3AIAAhQCLAJQA
				lgCYAJoAnAChAKIApACpALQAvQDMANAA2ADhAOYA5wDp
				AO4A+wD+AQsBEAEdASABMgE1AToAAAAAAAACAQAAAAAA
				AAAyAAAAAAAAAAAAAAAAAAABPA==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>http://www.pengyuanli.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2019 栗鹏远</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>lpy199454@gmail.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>3</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>pengyuanli.com</string>
							<key>maxConnections</key>
							<integer>4</integer>
							<key>path</key>
							<string>/public_html</string>
							<key>server</key>
							<string>us0.minyo.us</string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>1</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string>pengyuan</string>
							<key>websiteAddress</key>
							<string>http://www.pengyuanli.com/</string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>There is no where to go, but up.</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Tesla</string>
					<key>TitleText</key>
					<string>Patrick Lee</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>B8FCAA42-763C-4DD4-B091-1B0FA5B724D3_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>cacheBustingString</key>
					<string>?rwcache=568873152</string>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<false/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
