
#stacks_in_40_page0 .pullquote {
font-size:1.25em;
display:block;

padding:2.5em 0.5em;

font-style:italic;
}


#stacks_in_40_page0 .pullquote:before, #stacks_in_40_page0 .pullquote:after {
display:block;
position:relative;
font-size:100px;
line-height:0px;
overflow:display;
text-align:left;
font-style:normal;
opacity:0.25;
}
	
#stacks_in_40_page0 .pullquote:before {
content:"\201C";
top:5px;
left:-5px;
}
	
#stacks_in_40_page0 .pullquote:after {
content:"\201D";
bottom:-40px;
right:-5px;
text-align:right;
}


#stacks_in_40_page0 .pullquote-source {
font-size:0.65em;
text-align:right;
font-style:normal;
}

#stacks_in_40_page0 .pullquote-source:before {
	content:"\2014\200A";
	font-style:normal;
}
#stacks_in_40_page0 {
	background-color: rgba(232, 255, 221, 0.29);
}

#stacks_in_41_page0 {
	font-weight: bold;
}
#stacks_in_90_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_90_page0>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_90_page0>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_90_page0>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_90_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_90_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_98_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_98_page0 a:link, #stacks_in_98_page0 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_98_page0 a:hover, #stacks_in_98_page0 a:active {
	color:#FFFFFF;
}



#stacks_in_98_page0 a:link, #stacks_in_98_page0 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_98_page0 a:hover {
	background-color:#4C4C4C;
}
#stacks_in_98_page0 a:active {
	background-color:#404040;
}







#stacks_in_96_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_96_page0 a:link, #stacks_in_96_page0 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_96_page0 a:hover, #stacks_in_96_page0 a:active {
	color:#FFFFFF;
}



#stacks_in_96_page0 a:link, #stacks_in_96_page0 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_96_page0 a:hover {
	background-color:#4C4C4C;
}
#stacks_in_96_page0 a:active {
	background-color:#404040;
}







#stacks_in_p94_n1_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_p94_n1_page0 a:link, #stacks_in_p94_n1_page0 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_p94_n1_page0 a:hover, #stacks_in_p94_n1_page0 a:active {
	color:#FFFFFF;
}



#stacks_in_p94_n1_page0 a:link, #stacks_in_p94_n1_page0 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_p94_n1_page0 a:hover {
	background-color:#4C4C4C;
}
#stacks_in_p94_n1_page0 a:active {
	background-color:#404040;
}







#stacks_in_100_page0_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_100_page0 a:link, #stacks_in_100_page0 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_100_page0 a:hover, #stacks_in_100_page0 a:active {
	color:#FFFFFF;
}



#stacks_in_100_page0 a:link, #stacks_in_100_page0 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_100_page0 a:hover {
	background-color:#4C4C4C;
}
#stacks_in_100_page0 a:active {
	background-color:#404040;
}







