#stacks_in_123_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_123_page4>.s3_row>.s3_column_left {
	width: 32.00%;
}

#stacks_in_123_page4>.s3_row>.s3_column_right {
	width: 68.000000%;
}




#stacks_in_123_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_123_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_123_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_22_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_22_page4>.s3_row>.s3_column_left {
	width: 68.00%;
}

#stacks_in_22_page4>.s3_row>.s3_column_right {
	width: 32.000000%;
}




#stacks_in_22_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_22_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_22_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_22_page4 {
	margin: 5px 0px 0px 0px;
}
#stacks_in_29_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_29_page4>.s3_row>.s3_column_left {
	width: 32.00%;
}

#stacks_in_29_page4>.s3_row>.s3_column_right {
	width: 68.000000%;
}




#stacks_in_29_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_29_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_29_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_29_page4 {
	margin: 10px 0px 0px 0px;
}
