#stacks_in_93_page8>.s3_row {
	margin: 0 -10px;
}

#stacks_in_93_page8>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_93_page8>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_93_page8>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_93_page8>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_93_page8>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_76_page8>.s3_row {
	margin: 0 -10px;
}

#stacks_in_76_page8>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_76_page8>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_76_page8>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_76_page8>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_76_page8>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_4_page8 .stacks_left {
	width:430px;
}

#stacks_in_4_page8 .stacks_row {
	width:860px;
}
.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_27_page8 .stacks_left {
	width:430px;
}

#stacks_in_27_page8 .stacks_row {
	width:860px;
}
.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_40_page8 .stacks_left {
	width:430px;
}

#stacks_in_40_page8 .stacks_row {
	width:860px;
}
.stacks_left {
	float:left;
}

.stacks_row {
	overflow:hidden;
	margin:0 auto;
}
#stacks_in_53_page8 .stacks_left {
	width:430px;
}

#stacks_in_53_page8 .stacks_row {
	width:860px;
}